<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Only Members</title>
</head>
<body>
    <% if (currentUser) { %>
        <h1>Create a New Message</h1>
        <form action="/posts" method="post">
            <label for="title">Subject</label>
            <input type="text" name="title" id="title">
            <label for="content">Message</label>
            <input type="text" name="content" id="content">
            <button type="submit">Send</button>
        </form>

        <a href="/membership"><%= (currentUser.role === 'member') ?  '' : 'Update your membership status'%></a>
    <% } else { %>
        <a href="/log-in">Log In to View Date or author or to Create a New Message</a>
    <% } %>

    <div>
    <% for (let message of messages) { %>
      <div>
        <p>AUTHOR: <%= (currentUser.role === 'member') ?  message.name : 'xxxx' %></p>
        <p>DATE: <%= (currentUser.role === 'member') ? message.created_at : 'xxxx' %></p>
        <p>TITLE: <%= message.title %></p>
        <p>MESSAGE: <%= message.content %></p>
      </div>
    <% } %>
</body>
</html>